          div.con{
    background-color: whitesmoke;
    margin: 0 auto;
    width: 100%;
    height: auto;
   
    margin-bottom: 5px;
        
}

div.section{
    float: left;
    margin-left: 260px;
    width: 40%;
    height: auto;
    font-size:small;
    background-color:white;
    padding: 5px;
    color: darkslategrey;
    font-family: Verdana;
    
   
}

div.cv{
    color: darkslategrey;
    width: 20%;
    height: auto;
    float: left;
    
    font-family: Verdana;
    background-color: white;
    margin-left: 20px;
    
    
    
}

div.image{
    width: 60%;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    float: left;
    margin-left: 260px;
    
}


div.header{
    background-color:black;
    color: white;
    text-align: left;
    padding: 5px;
    text-decoration: solid;
  

}
div.sm{
    background-color:grey;
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    float: right;
    color: white;
    margin-top: 5px;
}


a:link{
    color: white;
    text-align: center;
    text-decoration: none;
   
    
}
a:hover{
    color: orange;
}
p{
    color: darkslategrey;
    padding: 5px;
}

h1{
    font-family: Verdana;
    color:whitesmoke;
}
h3{
    color: purple;
    text-align: center;
}
h5{
    text-align: right;
    color: blue;
    font-family:Verdana ;
}
h6{
    text-align: center;
    color: whitesmoke;
    font-family:Verdana ;
    padding: 5px;
    border: 2px;
}

h4{
    color: red;
    font-family: cursive;
  
}

body{
    background-color: whitesmoke;
}

div.footer{
    background-color: grey;
    text-align: center;
    color: white;
    width: 100%;
    padding: 2px;
    height: auto;
    float: left;
    
    
    
}